/*This imports a font from Google fonts*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';


/*Reset: resets settings to adjust for diff browsers*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*These are general settings to effect the majority of the 
code on the page.*/
/*To create a relative path you need to create a path from the 
css file to the image on your computer. The "../" signifies going 
back one folder on your computer*/
body {
	background: url("../images/background_4.jpg") fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
}
a {
	text-decoration: none;
	color: white;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}
p {
	font-family: 'Open Sans', sans-serif;
}


/*Header details. I would like to learn how to fix the header to the top of 
the page? Messing around with the position led to some weird effects.*/
nav {
	width: 100%;
	height: 40px;
	background: rgba(0,0,0,.7);
	color: white;
	text-align: left;
	font-size: 22px;
	padding: 4px;
	word-spacing: 35px;
	text-indent: 35px;
	position: fixed;
	top: 0;
	left: 0;
}


/*Main Title/Intro*/
#hero {
	margin: 120px;
}
#maintitle {
	margin: auto;
	max-width: 800px;
	margin-top: 45px;
	font-size: 28px;
}
#maintitle>p {
	font-size: 22px;
}
/*Shortcut to training schedule*/
#firstweek {
	margin: auto;
	margin-top: 45px;
	margin-bottom: 170px;
	font-size: 24px;
}
/*Start here button in orange*/
#start {
	display: block;
	border: rgba(0,0,0,.6) 3px solid;
	border-radius: 10px;
	background: rgba(255,100,8,.6);
	color: rgba(0,0,0,.7);
	letter-spacing: 2px;
	word-spacing: 5px;
	width: 270px;
	margin: auto;
	margin-top: 35px;
	padding: 20px;
	font-size: 22px;
	font-weight: bold;
}


/*Four Directory Boxes at the bottom*/
/*Four icons at the bottom*/
.iconsfront {
	width: 75px;
	height: 75px;
}
/*Four white boxes on the bottom*/
#videos, #photos, #written, #links {
	display: block;
	width: 250px;
	height: 250px;
	border: white 6px solid;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;
	font-size: 20px;
}


/*Footer details. I would like to flesh out more*/
footer {
	width: 100%;
	height: 25px;
	background: rgba(0,0,0,.7);
	color: white;
	text-align: right;
	font-size: 16px;
	padding: 2px;
	text-indent: 35px;
	font-style: italic;
}
